.nav-bar {
  position: sticky;
  top: 32px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 40px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  z-index: 900;
}

.logo {
  margin-right: 32px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.nav-list li {
  position: relative;
}

.nav-list a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.nav-list a:hover {
  color: #7ba6c8;
}

.nav-list li:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: -18px;
  color: #ccc;
}
