#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 1536px) {
  .container {
    max-width: 1024px;
  }
}
